@(usuario: Usuario, miembros: List[String], version: String, versiondate: String)
@views.html.navbar(usuario,false,false)
@main("aboutUs") {
  <div class="container">
    <div class="row">
      <h1 class="text-center" style="padding-bottom:50px">About Us</h1>
      <div class="clearfix"></div>
      <div class="row">
       <div class="col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Componentes del grupo</h3>
              </div>
              <ul class="list-group">
                @for(index <- 0 until miembros.size) {
                   <a href="#" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @miembros(index)</a>
                  }
              </ul>
          </div>
        </div>
          <div class="col-md-6">
             <div class="panel panel-default">
                 <div class="panel-heading">
                     <h3 class="panel-title">Versión</h3>
                 </div>
                 <ul class="list-group">
                     <a href="#" class="list-group-item"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> @version - @versiondate</a>
                 </ul>
             </div>
           </div>
         </div>
         <div class="col-md-12" style="padding-top:25px; text-align:center;">
             @if(usuario != null){
                <a class="btn btn-primary" href="@request.getHeader("referer")">Volver</a>
             }else{
                <a class="btn btn-primary" href="@routes.UsuarioController.loginUsuario()">Ir a login</a>
             }
         </div>
      </div>
    </div>
}