@(grupo: Grupo, administrador: Usuario, participantes: List[Usuario], mensaje: String)
@scripts = {
    <script type="text/javascript">
        function del(urlBorrar) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function(results) {
                    //refresh the page
                    location.reload();
                }
            });
        }

        $(document).ready(function(){
            $("#formNuevoUsuario").submit(function(e){e.preventDefault();})
        });

        $("#buttonNuevoUsuario").click(function(){
            var nombre = $("#nombreUsuario").val();
            $.ajax({url:"@routes.UsuarioController.findAllNombre()?q="+nombre})
            .done(function(data){
                $.ajax({url:"@routes.GrupoController.formularioGrupoNuevoUsuario(grupo.getId())"})
                .done(function(){swal('OK',data,'success')})
                .fail(function(){
                    swal('Oops...','Something went wrong!2','error')
                })
            })
            .fail(function(){
                swal('Oops...','Something went wrong!1','error')
            });
        });

    </script>
}
@views.html.navbar(administrador,false,false,true)
@main("Detalle grupo", scripts) {
    <h2>Detalle del grupo: <b>@grupo.getNombre()</b></h2>
    <h3>Administrador: @administrador.getLogin() (@administrador.getEmail())</h3>
    <br>
    <h4>Listado de participantes:</h4>
    <table class="table table-striped">
        <tr>
            <th>Login</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    @for(participante <- participantes) {
        <tr>
            <td width="50%">@participante.getLogin()</td>
            <td>@participante.getEmail()</td>
            <td>Icono de eliminar</td>
        </tr>
      }
      <tr>
        <td>
            <form class="form-inline" id="formNuevoUsuario">
                <div class="form-group">
                    <label for="nombreUsuario">Nuevo usuario</label>
                    <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" placeholder="Login de usuario">
                </div>
                <div class="form-group">
                    <button class="icono" data-toggle="tooltip" data-placement="bottom" title="Añadir usuario" id="buttonNuevoUsuario">
                        <span class="glyphicon glyphicon-plus"/>
                    </button>
                </div>
            </form>
        </td>
        <td>-</td>
    </tr>
    </table>

    @if(mensaje != null) {
        <div class="alert alert-success">
            @mensaje
        </div>
    }
}
