@(usuario: Usuario)
@views.html.navbar(usuario,false,false,false)
@main("Detalle usuario"){
	<h1>Detalle de @usuario.getLogin()</h1>
	<ul>
		<li><strong>Login: </strong>@usuario.getLogin()</li>
		<li><strong>Email: </strong>@usuario.getEmail()</li>
		<li><strong>Nombre: </strong>@usuario.getNombre()</li>
		<li><strong>Apellidos: </strong>@usuario.getApellidos()</li>
		<li><strong>Fecha de nacimiento: </strong>
			@if(usuario.getFechaNacimiento() != null){
				@usuario.getFechaNacimiento().format("dd-MM-yyyy")
			}</li>
	</ul>
	<div class="container">
		<a href="@routes.GrupoController.listaGrupos(usuario.getId())" class="btn btn-info">Ver grupos</a>
		<a href="@routes.GestionTareasController.listaTareas(usuario.getId())" class="btn btn-info">Ver tareas</a>
		<a href="@routes.TableroController.listaTableros(usuario.getId())" class="btn btn-info">Ver tableros</a>
		<a href="@routes.UsuarioController.formularioEditarUsuario(usuario.getId())" class="btn btn-info">Actualizar Perfil</a>
		<a href="@routes.UsuarioController.logout()" class="btn btn-info">Salir</a>
	</div>
}