@(idUsuario: Long, idGrupo: Long, nombre: String, mensaje: String)
@main("Modificar Grupo") {
   @if(mensaje != "") {
      <div class="alert alert-danger">
         @mensaje
      </div>
   }
   <h1>Modificar grupo</h1>
   @helper.form(action = routes.GrupoController.grabaGrupoModificado(idGrupo)) {
      <div class="form-group">
      <fieldset>
         <legend>Grupo</legend>
         Nombre:  <input type="text" size=70 name="nombre" value= "@nombre" class="form-control">
      </fieldset>
      <p/>
      </div>
      <p>
         <input type="submit" class="btn btn-primary" value="Guardar">
         <a class="btn btn-warning" href="@routes.GrupoController.listaGrupos(idUsuario)">Cancelar</a>
      </p>
   }
}
