@(idUsuario: Long, idTablero: Long, nombre: String, mensaje: String)
@main("Modificar Tablero") {
   @if(mensaje != "") {
      <div class="alert alert-danger">
         @mensaje
      </div>
   }
   <h1>Modificar tablero</h1>
   @helper.form(action = routes.TableroController.grabaTableroModificado(idTablero)) {
      <div class="form-group">
      <fieldset>
         <legend>Tablero</legend>
         Nombre:  <input type="text" size=70 name="nombre" value= "@nombre" class="form-control">
      </fieldset>
      <p/>
      </div>

      <div class="form-group">
            
        <legend>Labels</legend>
        <ul class="list-inline">
            <p>Labels asignados</p>
            <li><span class="label label-primary">Label nuevo</span></li>               
        </ul> 
        
            
        <select name="label">  
            <p>Añadir nuevo label </p>              
            <option value="volvo">Label 1</option>
            <option value="saab">Label 2</option>
        </select>

        <input type="submit" class="btn btn-primary" value="Añadir">
            
    </div>
    
      <p>
         <input type="submit" class="btn btn-primary" value="Guardar">
         <a class="btn btn-warning" href="@routes.TableroController.listaTableros(idUsuario)">Cancelar</a>
      </p>
   }
}
