@(usuario: Usuario, tareaForm: Form[Tarea], mensaje: String, fLimite: String)
@main("Nueva tarea") {
    @if(mensaje != "") {
        <div class="alert alert-danger">
            @mensaje
        </div>
    }
    <h1>Nueva tarea para @usuario.getLogin()</h1>
    @helper.form(action = routes.GestionTareasController.creaNuevaTarea(usuario.getId())) {
        <div class="form-group">
        <fieldset>
            <legend>Nueva tarea</legend>
            @helper.inputText(tareaForm("titulo"), '_label -> "Titulo", 'size -> 70 ,'class-> "form-control")
        </fieldset>
        <fieldset>
          @helper.inputDate(tareaForm("fLimite"), '_label -> "Fecha limite", 'size -> 30 ,'class-> "form-control")
        </fieldset>
        <fieldset>
            @helper.textarea(tareaForm("descripcion"), '_label -> "Descripcion", 'rows -> 5, 'class-> "form-control")
        </fieldset>

        </div>
        <p>
           <input type="submit" class="btn btn-primary" value="Guardar">
        </p>
    }
}
