@(administrados: List[Tablero], participados: List[Tablero], resto: List[Tablero], usuario: Usuario, mensaje: String)
@scripts = {
    <script type="text/javascript">
        function del(urlBorrar,tableroId) {
            swal({
                title: 'Estás seguro?',
                text: "Borrar este tablero será irrevertible!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, borrar.'
                }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        url: urlBorrar,
                        type: 'DELETE',
                        success: function(results) {
                            $("[tablero_id='"+tableroId+"']").hide();
                            //PENSABA HACERLO DINÁMICO PERO NO ME QUIERO PELEAR CON LOS FLASH
                            location.reload();
                        },
                        error: function(){
                            swal(
                            'Ooopss...',
                            'Ha habido un error borrando el tablero.',
                            'Error'
                            )
                        }
                    });
                    swal(
                    'Borrando!',
                    'Tu tablero se está borrando.',
                    'success'
                    )
                }
            })            
        }
        $(function () {
            $('[data-toggle="tooltip"]').tooltip(); //data-toggle="tooltip" data-placement="top" title="Tooltip on top"
        })
    </script>
}
@views.html.navbar(usuario,false,true)
@main("Tableros del usuario", scripts) {
<div class="container">
    <h2> Listado de tableros administrados por
        <a href="@routes.UsuarioController.detalleUsuario(usuario.getId())"
        data-toggle="tooltip" data-placement="bottom" title="Mi perfil">@usuario.getLogin()</a></h2>

    <table class="table table-striped">
        <tr>
            <th>Tableros</th>
            <th>Acción</th>
        </tr>
    @for(tablero <- administrados) {
        <tr tablero_id="@tablero.getId()">
            <td width="50%"><a onmouseover="" style="cursor: pointer; margin-right:10px;"
                href="@routes.TableroController.detalleTablero(tablero.getId())"
                data-toggle="tooltip" data-placement="right" title="Detalle: @tablero.getNombre()">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>@tablero.getNombre()</td>
            <td><a href="@routes.TableroController.formularioEditaTablero(tablero.getId())"
                data-toggle="tooltip" data-placement="top" title="Editar tablero">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                <a onmouseover="" style="cursor: pointer;"
                onclick="del('@routes.TableroController.borraTablero(tablero.getId())',@tablero.getId())"
                data-toggle="tooltip" data-placement="top" title="Eliminar tablero">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
        </tr>
      }

      <tr>
          <td><a href="@routes.TableroController.formularioNuevoTablero(usuario.getId())"
            data-toggle="tooltip" data-placement="right" title="Añadir tablero">
              <span class="glyphicon glyphicon-plus"/></a></td>
          <td>-</td>
      </tr>

    </table>

    @if(mensaje != null) {
        <div class="alert alert-success">
            @mensaje
        </div>
    }
  <h2> Listado de tableros participados por
      <a href="@routes.UsuarioController.detalleUsuario(usuario.getId())"
      data-toggle="tooltip" data-placement="bottom" title="Mi perfil">@usuario.getLogin()</a></h2>
  
    <table class="table table-striped">
        <tr>
            <th>Tableros</th>
            <th>Acción</th>
        </tr>
    @for(tablero <- participados) {
        <tr>
            <td width="50%"><a onmouseover="" style="cursor: pointer; margin-right:10px;"
                href="@routes.TableroController.detalleTablero(tablero.getId())"
                data-toggle="tooltip" data-placement="right" title="Detalle: @tablero.getNombre()">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>@tablero.getNombre()</td>
            <td><a onmouseover="" style="cursor: pointer;"
                onclick="del('@routes.TableroController.noSeguirTablero(usuario.getId(),tablero.getId())')"
                data-toggle="tooltip" data-placement="top" title="Dejar de seguir">
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></a></td>
        </tr>
    }
    </table>

    <h2> Tableros que le podrían interesar al usuario
        <a href="@routes.UsuarioController.detalleUsuario(usuario.getId())"
        data-toggle="tooltip" data-placement="bottom" title="Mi perfil">@usuario.getLogin()</a></h2>
    <table class="table table-striped">
        <tr>
            <th>Tableros</th>
            <th>Acción</th>
        </tr>
    @for(tablero <- resto) {
        <tr>
            <td width="50%"><a onmouseover="" style="cursor: pointer; margin-right:10px;"
                href="@routes.TableroController.detalleTablero(tablero.getId())"
                data-toggle="tooltip" data-placement="right" title="Detalle: @tablero.getNombre()">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>@tablero.getNombre()</td>
            <td><a href="@routes.TableroController.seguirTablero(usuario.getId(),tablero.getId())"
                data-toggle="tooltip" data-placement="top" title="Seguir el tablero">
                <span class="glyphicon glyphicon-star"></span></td>
        </tr>
        }
    </table>
</div> 
}
