@(tareas: List[Tarea], usuario: Usuario, mensaje: String)

@views.html.navbar(usuario,true,false,false)
@main("Tareas del usuario @usuario.getLogin()") {

    <h2> Listado de tareas de <a href="@routes.UsuarioController.detalleUsuario(usuario.getId())">@usuario.getLogin()</a></h2>

    <div class="container">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#pendientes">Pendientes</a></li>
            <li><a data-toggle="tab" href="#terminadas">Terminadas</a></li>
        </ul>

        <div class="tab-content">
            <div id="pendientes" class="tab-pane fade in active">
                <h3>Tareas Pendientes</h3>
                <table class="table table-striped">
                        <tr>
                            <th>Tareas</th>
                            <th>Fecha Límite</th>
                            <th>Acción</th>
                        </tr>
                    @for(tarea <- tareas) {
                        @if(tarea.getEstado() == "iniciada" && tarea.getPapelera() == null){
                            <tr>
                                <td>@tarea.getTitulo()</td>
                                <td>@tarea.getFLimite()</td>
                                <td>
                                    <a class="icono" href="@routes.GestionTareasController.formularioEditaTarea(tarea.getId())"
                                    data-toggle="tooltip" data-placement="top" title="Editar tarea">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <a class="icono" href="@routes.GestionTareasController.ToPapelera(tarea.getId())">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                    <a class="icono" href="@routes.GestionTareasController.cambiaTarea(tarea.getId())"
                                    data-toggle="tooltip" data-placement="top" title="Cerrar tarea">
                                        <span class="glyphicon glyphicon-unchecked"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                      }
                    <tr>
                        <td>
                            <a class="icono" href="@routes.GestionTareasController.formularioNuevaTarea(usuario.getId())"
                            data-toggle="tooltip" data-placement="right" title="Añadir tarea">
                                <span class="glyphicon glyphicon-plus"/>
                            </a>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div id="terminadas" class="tab-pane fade">
                <h3>Tareas Terminadas</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Tareas</th>
                        <th>Acción</th>
                    </tr>
                    @for(tarea <- tareas) {
                        @if(tarea.getEstado() == "terminada" && tarea.getPapelera() == null){
                            <tr>
                                <td>@tarea.getTitulo()</td>
                                <td>
                                    <a class="icono" href="@routes.GestionTareasController.formularioEditaTarea(tarea.getId())"
                                    data-toggle="tooltip" data-placement="top" title="Editar tarea">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <a class="icono" href="@routes.GestionTareasController.ToPapelera(tarea.getId())">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                    <a class="icono" href="@routes.GestionTareasController.cambiaTarea(tarea.getId())"
                                    data-toggle="tooltip" data-placement="top" title="Reabrir tarea">
                                        <span class="glyphicon glyphicon-check"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td><a class="icono" href="@routes.GestionTareasController.formularioNuevaTarea(usuario.getId())"
                            data-toggle="tooltip" data-placement="right" title="Añadir tarea">
                                <span class="glyphicon glyphicon-plus"/>
                            </a></td>
                        <td></td>
                    </tr>

                </table>
            </div>

        </div>
    </div>


  @if(mensaje != null) {
      <div class="alert alert-success">
          @mensaje
      </div>
  }
}
